<div class="row-fluid">
  <div id="mapid-828ce0ba-c4c4-4c9c-acca-d1a6fec482c5" class="col-md-12">
    <a href="http://www.map-generator.org/828ce0ba-c4c4-4c9c-acca-d1a6fec482c5/large-map.aspx">Enlarge Map</a>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-6">
    <%= image_tag("objects/house.svg", class: "left-image") %>
  </div>
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <%= image_tag("objects/house-two.svg", class: "left-image") %>
    </div>
    <div class="item">
    <%= image_tag("objects/house-two.svg", class: "left-image") %>
    </div>
    <div class="item">
    <%= image_tag("objects/house-two.svg", class: "left-image") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
  </div>
</div>

<div class="row-fluid" id="bottom-grass">
  <div class="col-md-12">
    <img src="http://placehold.it/1400x215/40BDA8" alt="...">
  </div>
</div>
